.page-header.center
    %h1
        2015 Giveaway Winners

- if !@winners
    .center
        %form{:method => :post, :action => "/?winners"}
            %input.btn.btn-success.btn-lg{:type => "submit", :value => "Pick Winners", :data => {"disable-with" => "Picking..."}}

- if @winners
    .center
        %p There were #{number_with_delimiter(@total)} entries. Picking #{@num} random numbers from 1 to #{number_with_delimiter(@total)}.
    %dl.dl-horizontal.winners
        - @winners.each_with_index do |w, i|
            %dt
                %h1.place #{i + 1}.
                %p.num
                    = number_with_delimiter(w[:num])
            %dd
                %a{:href => w[:entry][:channel], :target => :blank}= w[:entry][:name]
                left #{w[:entry][:total]} comment#{w[:entry][:total] == 1 ? "" : "s"}
                %ol
                    - w[:entry][:comments].each do |comment|
                        %li
                            %a{:href => "https://www.youtube.com/watch?v=JYqE8dSiXJE&lc=" + comment[:id].split(".")[0], :target => :blank}= comment[:text].html_safe
